.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;

  &-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  }
}

.completed-task td {
  text-decoration: line-through;
  color: var(--p-slate-400);
}

.empty-message {
  text-align: center;
  padding: 2rem 0;
}

.empty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
  background-color: var(--surface-b);
  border-radius: 6px;
}

@media screen and (max-width: 960px) {
  ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    display: none !important;
  }

  ::ng-deep .p-datatable .p-datatable-tbody > tr {
    display: grid;
    grid-template-rows: 100px auto 1fr;
    justify-content: center;
    justify-items: center;
    width: 95vw;
    border: 1px solid #e5e7eb;
    margin-bottom: 1rem;
    border-radius: 6px;
    padding: 1rem;
  }

  ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
  }
}